### Pandas - Panel Dataframe

In [1]:
# Create Dataframe using Dict

import pandas as pd

weather_data={'day':['18/2/22','19/2/22','20/2/22','21/2/22','22/2/22'],
             'temperature':[30,31,33,29,33],
             'windspeed':[10,9,12,15,18],
             'event':['Rain','Sunny','Snow','Rain','Snow']}
print(weather_data)

df=pd.DataFrame(weather_data)
df

{'day': ['18/2/22', '19/2/22', '20/2/22', '21/2/22', '22/2/22'], 'temperature': [30, 31, 33, 29, 33], 'windspeed': [10, 9, 12, 15, 18], 'event': ['Rain', 'Sunny', 'Snow', 'Rain', 'Snow']}

       day  temperature  windspeed  event
0  18/2/22           30         10   Rain
1  19/2/22           31          9  Sunny
2  20/2/22           33         12   Snow
3  21/2/22           29         15   Rain
4  22/2/22           33         18   Snow

In [2]:
type(df)

pandas.core.frame.DataFrame

In [3]:
df.shape

(5, 4)

In [4]:
df.head()

       day  temperature  windspeed  event
0  18/2/22           30         10   Rain
1  19/2/22           31          9  Sunny
2  20/2/22           33         12   Snow
3  21/2/22           29         15   Rain
4  22/2/22           33         18   Snow

In [5]:
df.head(3)

       day  temperature  windspeed  event
0  18/2/22           30         10   Rain
1  19/2/22           31          9  Sunny
2  20/2/22           33         12   Snow

In [6]:
df.tail()

       day  temperature  windspeed  event
0  18/2/22           30         10   Rain
1  19/2/22           31          9  Sunny
2  20/2/22           33         12   Snow
3  21/2/22           29         15   Rain
4  22/2/22           33         18   Snow

In [7]:
df.tail(2)

       day  temperature  windspeed event
3  21/2/22           29         15  Rain
4  22/2/22           33         18  Snow

In [8]:
df

       day  temperature  windspeed  event
0  18/2/22           30         10   Rain
1  19/2/22           31          9  Sunny
2  20/2/22           33         12   Snow
3  21/2/22           29         15   Rain
4  22/2/22           33         18   Snow

In [9]:
df[0:4]

       day  temperature  windspeed  event
0  18/2/22           30         10   Rain
1  19/2/22           31          9  Sunny
2  20/2/22           33         12   Snow
3  21/2/22           29         15   Rain

In [10]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [11]:
df['temperature']

0    30
1    31
2    33
3    29
4    33
Name: temperature, dtype: int64

In [12]:
print(df['day'])
type(df['day'])

0    18/2/22
1    19/2/22
2    20/2/22
3    21/2/22
4    22/2/22
Name: day, dtype: object

pandas.core.series.Series

In [13]:
#for two or more than two column, there should be two square brackets
df[['day','temperature']]

       day  temperature
0  18/2/22           30
1  19/2/22           31
2  20/2/22           33
3  21/2/22           29
4  22/2/22           33

In [14]:
df[['day','temperature','windspeed']]

       day  temperature  windspeed
0  18/2/22           30         10
1  19/2/22           31          9
2  20/2/22           33         12
3  21/2/22           29         15
4  22/2/22           33         18

In [15]:
#max()
df['temperature'].max()

33

In [16]:
#max()
df['event'].max()

'Sunny'

In [17]:
#max()
df['day'].max()

'22/2/22'

In [18]:
#min()
df['windspeed'].min()

9

In [19]:
#min()
df['event'].min()

'Rain'

In [20]:
df['temperature']==33

0    False
1    False
2     True
3    False
4     True
Name: temperature, dtype: bool

In [21]:
df[df['temperature']==33]

       day  temperature  windspeed event
2  20/2/22           33         12  Snow
4  22/2/22           33         18  Snow

In [22]:
df[df['temperature']>30]

       day  temperature  windspeed  event
1  19/2/22           31          9  Sunny
2  20/2/22           33         12   Snow
4  22/2/22           33         18   Snow

In [23]:
df[df['temperature']==df['temperature'].max()]

       day  temperature  windspeed event
2  20/2/22           33         12  Snow
4  22/2/22           33         18  Snow

In [24]:
df.describe()

       temperature  windspeed
count     5.000000   5.000000
mean     31.200000  12.800000
std       1.788854   3.701351
min      29.000000   9.000000
25%      30.000000  10.000000
50%      31.000000  12.000000
75%      33.000000  15.000000
max      33.000000  18.000000

In [25]:
df

       day  temperature  windspeed  event
0  18/2/22           30         10   Rain
1  19/2/22           31          9  Sunny
2  20/2/22           33         12   Snow
3  21/2/22           29         15   Rain
4  22/2/22           33         18   Snow

In [26]:
# set_index ()
df.set_index('day')

         temperature  windspeed  event
day
18/2/22           30         10   Rain
19/2/22           31          9  Sunny
20/2/22           33         12   Snow
21/2/22           29         15   Rain
22/2/22           33         18   Snow

In [27]:
df

       day  temperature  windspeed  event
0  18/2/22           30         10   Rain
1  19/2/22           31          9  Sunny
2  20/2/22           33         12   Snow
3  21/2/22           29         15   Rain
4  22/2/22           33         18   Snow

In [28]:
df=df.set_index('day')

In [29]:
df

         temperature  windspeed  event
day
18/2/22           30         10   Rain
19/2/22           31          9  Sunny
20/2/22           33         12   Snow
21/2/22           29         15   Rain
22/2/22           33         18   Snow

In [30]:
df.head(2)

         temperature  windspeed  event
day
18/2/22           30         10   Rain
19/2/22           31          9  Sunny

In [31]:
df.index

Index(['18/2/22', '19/2/22', '20/2/22', '21/2/22', '22/2/22'], dtype='object', name='day')

In [32]:
df.columns

Index(['temperature', 'windspeed', 'event'], dtype='object')

In [33]:
#loc - 
df.loc['20/2/22']

temperature      33
windspeed        12
event          Snow
Name: 20/2/22, dtype: object

In [34]:
# reset_index() - will reset the previous index of dataframe
df=df.reset_index()
df

       day  temperature  windspeed  event
0  18/2/22           30         10   Rain
1  19/2/22           31          9  Sunny
2  20/2/22           33         12   Snow
3  21/2/22           29         15   Rain
4  22/2/22           33         18   Snow

In [35]:
#inplace=True - is making changes permanantly
df.set_index('day',inplace=True)

In [36]:
df

         temperature  windspeed  event
day
18/2/22           30         10   Rain
19/2/22           31          9  Sunny
20/2/22           33         12   Snow
21/2/22           29         15   Rain
22/2/22           33         18   Snow

In [37]:
df.reset_index(inplace=True)

In [38]:
df

       day  temperature  windspeed  event
0  18/2/22           30         10   Rain
1  19/2/22           31          9  Sunny
2  20/2/22           33         12   Snow
3  21/2/22           29         15   Rain
4  22/2/22           33         18   Snow

In [39]:
df.set_index('event',inplace=True)
df

           day  temperature  windspeed
event
Rain   18/2/22           30         10
Sunny  19/2/22           31          9
Snow   20/2/22           33         12
Rain   21/2/22           29         15
Snow   22/2/22           33         18

In [40]:
df.loc['Sunny']

day            19/2/22
temperature         31
windspeed            9
Name: Sunny, dtype: object

In [42]:
df.loc['Rain']

           day  temperature  windspeed
event
Rain   18/2/22           30         10
Rain   21/2/22           29         15